In [4]:
from datetime import datetime as dt

# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [6]:
date_string_MT = 'Wednesday, October 2, 2002'
date_string_Gu = 'Friday, 11.10.13'
date_string_DN = 'Thursday, 18 August 1977'

In [7]:
type(date_string_MT)

str

In [19]:
the_moscow_times_dateformat = datetime.strptime(date_string_MT, '%A, %B %d, %Y')
the_moscow_times_dateformat.year, the_moscow_times_dateformat.month, the_moscow_times_dateformat.day

In [24]:
the_guardian_dateformat = datetime.strptime(date_string_Gu, '%A, %d.%m.%y') 
the_guardian_dateformat.year, the_guardian_dateformat.month, the_guardian_dateformat.day

(2013, 10, 11)

In [26]:
daily_news_dateformat = datetime.strptime(date_string_DN, '%A, %d %B %Y') 
daily_news_dateformat.year, daily_news_dateformat.month, daily_news_dateformat.day

(1977, 8, 18)

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:

In [55]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [53]:
def check_date(dates_input):     
    for date in dates_input:
        try:
            datetime.strptime(date, '%Y-%m-%d')
            print('True')
        except :
            print('The date {} is invalid'.format(date))

In [56]:
check_date(stream)

True
The date 2018-02-29 is invalid
The date 2018-19-02 is invalid

In [57]:
# P.S. боже мой сколько я убила времени, чтобы понять почему '2018-02-29' возвращает false :D

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [58]:
from datetime import timedelta

In [160]:
def range_date(start_date, end_date):   
    day_delta = timedelta(days=1)  

    try:
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d') 
        if start_date_dt <= end_date_dt: 
            for i in range((end_date_dt - start_date_dt).days+1):
                print((start_date_dt + i*day_delta).strftime('%Y-%m-%d')) 
        else:
            print([])
    except ValueError:
        print([])

In [161]:
start_date = '2020-07-20'
end_date = '2020-07-26'
range_date(start_date,end_date)

2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-25
2020-07-26

In [162]:
# check for errors if start_date > end_date
start_date = '2020-07-27'
end_date = '2020-07-26'
range_date(start_date,end_date)

[]

In [163]:
# check for errors if formatting is not correct
start_date = 'Friday, 11.10.13'
end_date = '2020-07-26'
range_date(start_date,end_date)

[]

# Задание 4 (бонусное)
Ваш коллега прислал код функции:

In [10]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя 
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    return default_list[DEFAULT_USER_COUNT-2]

При однократном вызове этой функции все работает корректно:

In [11]:
delete_and_return_last_user(1)

'A101'

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

In [12]:
delete_and_return_last_user(1)

IndexError: list index out of range

Задание:
1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?