## Лабораторная работа по курсу «Python для анализа данных»

In [5]:
import re

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [2]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [11]:
print(len(string_01))

# count spaces
spaces = string_01.count(' ')
print(spaces)
total = len(string_01) - spaces
total

270
45

225

2. Посчитайте, сколько в строке слов.

In [13]:
words=re.findall('\w+', string_01)
print(len(words))
print(words)

45
['History', 'is', 'always', 'written', 'by', 'the', 'winners', 'When', 'two', 'cultures', 'clash', 'the', 'loser', 'is', 'obliterated', 'and', 'the', 'winner', 'writes', 'the', 'history', 'books', 'books', 'which', 'glorify', 'their', 'own', 'cause', 'and', 'disparage', 'the', 'conquered', 'foe', 'As', 'Napoleon', 'once', 'said', 'What', 'is', 'history', 'but', 'a', 'fable', 'agreed', 'upon']

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [17]:
def find_words_start_with(letter):
    for word in words:
        if word.startswith(letter.upper()) or word.startswith(letter.lower()):
            print(word)

In [18]:
find_words_start_with('w')

written
winners
When
winner
writes
which
What

In [20]:
# мой вариант учиытвает только строчные буквы
result = re.findall(r'\b[w]\w+', string_01)
print(result)

['written', 'winners', 'winner', 'writes', 'which']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [28]:
import random
number = ''

while '3' not in number:
    numbers = list()
    for i in range(6):
        numbers.append(str(random.randint(0,9)))
    number = ''.join(numbers)
    
print(number)

131460

#### Задача 3

Дан список:

In [30]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [32]:
list_02 = [x for x in list_01 if 10 < x < 100 or 200 < x < 500]
sum(list_02)

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [35]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [5]:
students_dct = {student[0]: student[1:] for student in students} 
students_dct

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [36]:
# alternative 

students_dct = {}

for student in students:
    students_dct[student[0]] = student[1:]

students_dct

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [38]:
def change_student_id(student_id, new_group):    
    # define index of a group varioable in a lit
    students_dct[student_id][4] = new_group
                
change_student_id('0001', 'NNN161')
students_dct

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'NNN161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [42]:
def print_students(group):  
     
    for student in students_dct.values():
        if student[4] == group:
            print(student[0],student[1],student[2]) 
  
            
print_students('БСТ161')

Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [43]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

89

1. Выведите результат сложения всех элементов матрицы.

In [45]:
print(sum(sum([i for i in line]) for line in matrix))

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [48]:
max(sum(line) for line in zip(*matrix))

22